#header{
    text-align: center;
}

#titol{
    font-size: xx-large;
    font-weight:  bolder;
}

.enunciat, li{
    font-weight: bold;
    font-size: large;
}

.explicacio{
    font-style: italic;
    font-weight: normal;
    font-size: small;
}

.exercici{
    font-weight: normal;
    font-size: medium;
}


li{
    border-bottom: 1px solid black;
    width: 75%
}

button{
    background-color: brown;
    color: white;
}

input{
    background-color: beige;
}